# python standard library
requests
dataclasses

# standard imports
opencv-python
matplotlib
numpy
pandas
dotenv

# jupyter
ipykernel
ipynb

# GIS
folium
geopandas

# ML
torch
torchvision
huggingface_hub
transformers
datasets
accelerate
evaluate
wandb
labelme
